@import _variables

header
    background: rgba(13, 59, 102, 0.8) url('../../src/header--bg.jpg')
    width: 100%
    height: 31.25rem
    background-repeat: no-repeat
    background-size: cover
    background-position: top
    background-blend-mode: soft-light

    .box
        max-width: 62.5rem
        margin: 0 auto
        padding: 0

        .nav-bar
            background: $orange
            width: 100%
            display: flex
            flex-wrap: wrap
            justify-content: flex-end

            .btn-nav
                background: $black